<!DOCTYPE html>
<html ng-app="contactsApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Contacts</title>
    <!-- Bootswatch Flatly theme -->
    <link rel="stylesheet" type="text/css" href="src/css/bootstrap.min.css">
</head>
<body>
    <div class="container" ng-controller="ContactsController">
        <h1>Contacts</h1>

        <div class="form-group">
            <input type="search" class="form-control" ng-model="query" placeholder="Search">
        </div>

        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    <a href="#" ng-click="setOrder('first_name'); setSort()">First Name</a>
                </th>
                <th>
                    <a href="#" ng-click="setOrder('last_name'); setSort()">Last Name</a>
                </th>
                <th>
                    <a href="#" ng-click="setOrder('mobile_number'); setSort()">Mobile Number</a>
                </th>
                <th>
                    <a href="#" ng-click="setOrder('telephone_number'); setSort()">Telephone Number</a>
                </th>
                <th>
                    <a href="#" ng-click="setOrder('email'); setSort()">E-mail Address</a>
                </th>
            </tr>
            <tr ng-repeat="contact in contacts | filter: query | orderBy: order: reverse">
                <td> {{ contact.first_name }} </td>
                <td> {{ contact.last_name }}</td>
                <td> {{ contact.mobile_number }} </td>
                <td> {{ contact.telephone_number }} </td>
                <td> {{ contact.email }} </td>
            </tr>
        </table>
    </div>

    <script src="lib/angularjs/angular.min.js"></script>
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <script>
        angular.module('contactsApp', [])
                .controller('ContactsController', function ($scope, $http) {
                    $http.get('api/contacts').success(function(response) {
                        $scope.contacts = response;
                    });

                    $scope.order = 'first_name';
                    $scope.reverse = false;

                    $scope.setOrder = function(order) {
                        $scope.order = order;
                    };

                    $scope.setSort = function()
                    {
                        $scope.reverse = ! $scope.reverse;
                    };
                });
    </script>
</body>
</html>